#contenedor {
    width: 60%;
    margin: auto;
    background-color: var(--color-ciudadContainerBackground);
    border-color: var(--color-ciudadContainerBackground);
    /* border-radius: 2rem; */
    border-width: 30px;
    border-style: solid;
    margin-top: 6rem;
}

#h1Ciudad {
    margin-bottom: 2rem;
    text-shadow: none;
    color: var(--color-cardsContainerTitle);
}

#informacion {
    color: var(--color-cardsContainerTitle);
    background-color: var(--color-ciudadInfoContainer);
    /* border-radius: 2rem; */
    padding: 2rem;
    font-family: principal;
    font-weight: bold;
    display:grid;
    grid-template-columns: repeat(2, 1);
    grid-gap: 15px;
}

#a{
    all: unset;
    cursor: pointer;
    text-align: center;
}

#volver {
    margin-top: 1rem;
    text-align: center;
    color: var(--color-ciudadText);
}
#volver:hover {
    color: var(--color-ciudadTextHover);
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    #contenedor {
        width: 90%;
        margin: auto;
        background-color: var(--color-ciudadContainerBackground);
        border-color: var(--color-ciudadContainerBackground);
        /* border-radius: 2rem; */
        border-width: 30px;
        border-style: solid;
        margin-top: 12rem;
    }
}