@import '../../Assets/vars.css';

#cardID {
    background-color:var(--color-cardBackground);
    width: 300px;
    height: 220px;
    /* border-radius: 10px; */
}

#cardID:hover {
    background-color: var(--color-cardBackgroundHover);
}

#botonCerrar {
    float: right;
    margin: auto;
    margin-right:2%;
    margin-top:2%;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-cardCerrar);
    border-radius: 20%;
    border: 0;
    color:#F9EBEA;
    font-weight: bold;
    text-align: center;
}
#botonCerrar:hover{
    /*@botonCerrar();*/
    background-color: #900C3F;
}

#nombreCiudad {
    margin-top:2.4rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-cardText);
}

#imgClima {
    float: right;
    background-color: var(--color-cardImgBackground);
    margin-right: 1rem;
    border-radius: 20%;
}

.titulos {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--color-cardText);
}

.textos {
    color:var(--color-cardText);
}

#temps {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

#min, #max {
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

#link {
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

#verMas{
    color: var(--color-cardText);
}

#verMas:hover{
    color: var(--color-cardTextHover);
    cursor: pointer;
}

a{
    all:unset;
}

span,h1,h4,h3,button,input{
    font-family: principal;
    font-weight: bold;
}