#boton{
    background-color:#ffa07a;
    border-radius: 5px;
    border:none;
}

#boton:hover{
    background-color: #FF9367;
}

#boton:active{
    background-color: #FE8757;
}

#entrada{
    border-radius: 5px;
    background-color: blanchedalmond;
    border:none;
    text-align: left;
}

#entrada:focus{
    border-radius: 5px;
    background-color: #ffe2b6;
}

#contenedor {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin:auto 0;
}