@import '../../Assets/vars.css';

#navID {
    background-color: var(--color-navBackground);
    height: 4rem;
    width: 100%;
    position:fixed;
    top: 0;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    text-align: center;
}

#nombreApp {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
}

.h1{
    font-size: 2rem;
    height: 2rem;
    /* color:#1C2833; */
    color:var(--color-navTitle);
    font-weight:bolder;
    margin: auto;
}

.h1:hover{
    cursor: pointer;
}

#a{
    font-family: principal;
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 2rem;
    margin: auto;
}

body{
    background-color: var(--color-bodyBackground);
    width: 100%;
    height: 100%;
}

